{% extends 'base.html' %}
{% load static %}

{% block Title %}COVID-19 Fighter Appreciation | Django Boilerplate App!{% endblock %}

{% block content %}
<div class="text-center">
	<h1>COVID-19 Fighter Appreciation</h1>
	<h2 style="color: gray">Django Boilerplate App!</h2>
	<h3>People we are thankful to</h3>
</div>
<section class="container">
	<div class="col">
		<div class="row">		
			<div class="float-right col-lg-3 col-md-12 col-sm-12">
				<div class="row sticky-top">
					<div class="card" style="width: 100%; margin-top: 20px">
						<div class="card-body">
							<h5 class="card-title">Who do you want to thank?</h5>
							<h6 class="card-subtitle mb-2 text-muted">Share Love & Show Support</h6>
							<p class="card-text">With the world in midst of an epidemic, lets share the love and show our support to the people who are working tirelessly. Share love now</p>
							<a href="{% url 'core:new_post' %}" class="btn btn-outline-primary card-link">Post Support</a>
						</div>
					</div>
				</div>
			</div>
			<div class="float-left col-lg-9 col-md-12 col-sm-12">
				<div class="row row-cols-1 row-cols-md-3">
					{% for post in posts %}
					<div class="col mb-4">
						<div class="card" style="width: 100%; margin-top: 20px; background-color: #E0F0F8">
							<div class="card-body">
								<h5 class="card-title"><a href="{% url 'core:post_detail' post.post_slug %}">{{post.person_name}}</a></h5>
								<h6 class="card-subtitle mb-2 text-muted">{{post.person_job}}</h6>
								<p class="card-text">we appriciate your for contribution to help fight Corona Virus</p>
							</div>
						</div>	
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>

</section>
{% endblock %}