{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{{ form.media }}

{% block Title %}New Post | Django Boilerplate App!{% endblock %}

{% block content %}

<div class="text-center">

	<h1>COVID-19 Fighter Appreciation</h1>
	<h2 style="color: gray">Django Boilerplate App!</h2>
</div>

<div class=" container col-lg-6 offset-lg-3 col-sm-12 col-md-12 text-center">
	<h3>People we are thankful to</h3>


	<div class="card" style="width: 100%; margin-top: 20px; background-color: #E0F0F8">
		<div class="card-body">
			<h5 class="card-title">New Post</h5>
			<h6 class="card-subtitle mb-2 text-muted">Enter new post</h6>
			<p class="card-text">we appriciate your for contribution to help fight Corona Virus</p>
			<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
				{{ form|crispy }}
				<input type='submit' class='btn btn-primary' value='submit'/>

				<!-- <a href="#" class="card-link">Card link</a> -->
				<!-- <a href="#" class="card-link">Another link</a> -->
			</form>
		</div>
	</div>	
</div>

{% endblock %}