{% extends 'base.html' %}
{% load static %}

{% block Title %}Post Detail | Django Boilerplate App!{% endblock %}

{% block content %}



<div class="text-center">
	<h1>COVID-19 Fighter Appreciation</h1>
	<h2 style="color: gray">Django Boilerplate App!</h2>
</div>

<div class=" container col-lg-6 offset-lg-3 col-sm-12 col-md-12 text-center">
	<h3>People we are thankful to</h3>


	<div class="card" style="width: 100%; margin-top: 20px; background-color: #E0F0F8">
		<div class="card-body">
			<h5 class="card-title">{{post.person_name}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{post.person_job}}</h6>
			<p class="card-text">we appriciate your for contribution to help fight Corona Virus</p>
			<!-- <a href="#" class="card-link">Share</a> -->
			<!-- <a href="#" class="card-link">Add new</a> -->
		</div>
	</div>	
	<a href="">Share</a>
	<a href="">Add new</a>
</div>
{% endblock %}