{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{{ form.media }}

{% block Title %}Post Detail | Django Boilerplate App!{% endblock %}

{% block content %}



<div class="text-center">
	<h1>{{post.person_name}}</h1>
	<h2 style="color: gray">{{post.person_job}}</h2>
</div>

<div class=" container col-lg-6 offset-lg-3 col-sm-12 col-md-12 text-center">
	
	{% if request.user.is_authenticated %}
	<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
		{{ form|crispy }}
		<input type='submit' class='btn btn-primary' value='submit'/>
	</form>
	{% else %}
	<a class="btn btn-primary btn-lg" href="">Add Praise</a>
	{% endif %}

	{% for detail in details %}
	<div class="card" style="width: 100%; margin-top: 20px; background-color: #E0F0F8">
		<div class="card-body">
			<h5 class="card-title">{{detail.details}}</h5>
			<!-- <h6 class="card-subtitle mb-2 text-muted">Share your thoughts</h6> -->
			<p class="card-text">by {{detail.user}}</p>
			<!-- <a href="#" class="card-link">Share</a> -->
			<!-- <a href="#" class="card-link">Add new</a> -->
		</div>
	</div>
	{% empty %}	
	<h3>Thank you so much {{post.person_name}}</h3>
	{% endfor %}
	<a href="">Share</a>
	<a href="">Add new</a>
</div>
{% endblock %}